@use "../variables";

.consumer-home {
  border-top: 1px solid variables.$color-primary;
  min-height: calc(100vh - 90px);
  background: {
    color: variables.$color-secondary;
    image: url('../../images/southworks.png');
    repeat-y: no-repeat;
    position: bottom;
    size: 400px;
  }

  .consumer-title {
    color: variables.$color-disabled;
    font-weight: 700;
    font-size: xx-large;
    padding: 20px 0 20px 0;
  }
}
