.table-icon {
  margin: 0 20px 0 0;
  cursor: pointer;
}

.label-form-invitation {
  display: flex;
  align-items: center;
}

.invitation-icon {
  font-size: 16px;
}

.info-icon {
  margin-left: 5px;
}
